# Node Modules
node_modules/

# .env files
.env*

# IDE specific folders
.vscode/
.idea/

# npm logs
npm-debug.log*

# Prettier Configuration File (optional, if you don't want to track this file)
.prettierrc
.prettierignore


